@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo/CairoVarWght.ttf') format('truetype');
    font-weight: 400; /* Adjust the font weight as needed */
  }
  
  body {
    background-image: url('../res/sec1bg.jpeg');
    background-size: cover;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
  }

  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.8em;
  }
  
  h4 {
    font-size: 1.5em;
  }
  
  h5 {
    font-size: 1.2em;
  }
  
  h6 {
    font-size: 1em;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .italic {
    font-style: italic;
  }

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    color: crimson;
    size: 3px;
    width: 95%;
}

.center {
    text-align: center;
}

.chart-container {
    max-width: 1500px;
    height: 400px;
    margin: 0 auto;
}

.chart-container-small {
    max-width: 900px;
    height: 100px;
    margin: 0 auto;
}
